<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <script type="text/javascript"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>

    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Add Shop</h1>

<h3>Your Current Shops:</h3>
<form action="#" th:action="@{/goToShop}">
    <table id="shopIdTable">
        <tr>
            <th>Shop ID</th>
            <th>Name</th>
            <th>Tags</th>
        </tr>
        <tr th:each="shop: ${shops}">
            <td th:text="${shop.id}"></td>
            <td th:text="${shop.shopName}"></td>
            <td th:text="${shop.tags}"></td>
            <td>
                <button type="submit" name="shopId" th:value="${shop.id}">Go to Shop</button>
            </td>
        </tr>
    </table>
</form>

<h3>New Shop Information:</h3>
<form action="#" th:action="@{/addShop}" th:object="${shop}" method="post" id="addShopForm">
    <table id="shopInfoTable">
        <tr>
            <td>Shop Name</td>
            <td><input name="shopName" type="text"></td>
        </tr>
    </table>

    <p><input type="button" value="Add Tag" id="addTag"/></p>

    <p><input type="submit" value="Add Shop"/></p>
</form>

<form action="#" th:action="@{/}">
    <input type="submit" value="Go To Home Page"/>
</form>

<script type="text/javascript" th:src="@{/js/addShopController.js}"></script>

</body>
</html>