<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}">
    </script>

    <link rel="stylesheet" type="text/css" href="/css/Global.css">

    <title>Checkout </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1 >Shopping Cart</h1>
    <span hidden id="customerID" th:value="${customer.id}"></span>
    <span hidden id="username" th:value="${customer.userName}"></span>
    <span hidden id="isCustomer" th:value="${isCustomer}"></span>
    <div id="emptyCart" th:if="${#lists.isEmpty(items)}"><h2>Your cart is empty!</h2></div>
    <div id="cartSection" th:unless="${#lists.isEmpty(items)}">
        <table id="cartTable">
            <tr>
                <th>Store</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Inventory Remaining</th>
                <th>Individual Cost</th>
            </tr>
            <tr th:each="item: ${items}">
                <td><a class="store" th:href="@{/goToShopCustomerView?shopId={id}(id=${item.storeID})}" th:text="${item.storeName}" th:value="${item.storeID}"></a></td>
                <td class="item" th:text="${item.itemName}" th:value="${item.id}"></td>
                <td class="itemQuantity">
                    <input class="inv" name="quantity" type="number" min="1" th:max="${item.inventory}" value="1"
                        onchange="updateCost()" />
                </td>
                <td class="maxInv" name="itemInventory" th:text="${item.inventory}"></td>
                <td class="cost" th:text="${item.cost}"></td>
                <td><button class="rem" th:value="${item.id}">Remove From Cart</button></td>
        </table>
        <p id="totalCost">Total Cost: </p>
        <input type="submit" onclick="checkout()" value="Checkout" />
    </div>

    <script type="text/javascript" th:src="@{/js/LoadingAnimationController.js}"></script>
    <script type="text/javascript" th:src="@{/js/SidebarController.js}"></script>
    <script type="text/javascript" th:src="@{/js/CloudServiceController.js}"></script>
    <script type="text/javascript" th:src="@{/js/CheckoutController.js}"></script>

</body>

</html>