<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}">
    </script>

    <link rel="stylesheet" type="text/css" href="/css/Global.css">

    <title>Sign Up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <span hidden id="username" th:value="${username}"></span>
    <span hidden id="isCustomer" th:value="${isCustomer}"></span>

    <h1>Create Merchant Account</h1>
    <form action="#" th:action="@{/addNewMerchant}" th:object="${merchant}" method="post" id="merchantInfoForm">
        <input type="hidden" th:value="${merchant.id}" name="id">
        <p>UserName: <input type="text" th:value="${merchant.getUserName()}" th:field="*{userName}" id="userName"></p>
        <p>Password: <input type="password" th:value="${merchant.getPassword()}" th:field="*{password}" id="password">
        </p>
        <p>Email: <input type="email" th:value="${merchant.email}" th:field="*{email}" id="email"></p>
        <p>Phone Number: <input type="text" th:value="${merchant.contactPhoneNumber}" th:field="*{contactPhoneNumber}" id="contactPhoneNumber" class="phoneNumber"></p>

        <input type="submit" value="Submit" />
    </form>

    <script type="text/javascript" th:src="@{/js/LoadingAnimationController.js}"></script>
    <script type="text/javascript" th:src="@{/js/SidebarController.js}"></script>
    <script type="text/javascript" th:src="@{/js/CreateMerchantAccountPageController.js}"></script>
    <script type="text/javascript" th:src="@{/js/CloudServiceController.js}"></script>
    <script type="text/javascript" th:src="@{/js/PhoneNumberFormatter.js}"></script>
</body>

</html>