<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}">
    </script>

    <link rel="stylesheet" type="text/css" href="/css/Global.css">

    <title>Create a Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Create Shop Page</h1>

    <h3 th:text="'You are Logged in as: ' + ${currUser.userName}" />
    <span hidden id="username" th:value="${currUser.userName}"></span>
    <span hidden id="isCustomer" th:value="${isCustomer}"></span>

    <h3>New Shop Information:</h3>
    <form action="#" th:action="@{/addShop}" th:object="${shop}" method="post" id="createShopForm">
        <input type="hidden" name="userId" th:value="${currUser.id}" />
        <p>New Shop Name: <input type="text" th:field="*{shopName}" /></p>

        <p><input type="submit" value="Create Shop" /></p>
    </form>

    <script type="text/javascript" th:src="@{/js/LoadingAnimationController.js}"></script>
    <script type="text/javascript" th:src="@{/js/SidebarController.js}"></script>
    <script type="text/javascript" th:src="@{/js/CreateShopController.js}"></script>
    <script type="text/javascript" th:src="@{/js/CloudServiceController.js}"></script>
</body>

</html>