<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/Global.css">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${shop.shopName}"></title>
</head>

<body>
    <div id="isLogIn" th:if="${loggedIn}"><input id="customerID" type="hidden" th:value="${customerID}"
            name="customer" /></div>
    <div id="pageTitle">
        <h1 align="center" th:text="'Welcome to the online store for ' + ${shop.shopName}"></h1>
    </div>
    <span hidden id="username" th:value="${username}"></span>
    <span hidden id="isCustomer" th:value="${isCustomer}"></span>
    <div id="noItems" th:if="${#lists.isEmpty(shop.items)}"><h2>Sorry, the merchant did not add items to their store yet!</h2>
</div>
<div id="itemSection" th:unless="${#lists.isEmpty(shop.items)}"></div>
<h2>Items</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Inventory</th>
        <th>Cost</th>
    </tr>
    <tr th:each="item: ${shop.items}">
        <td th:text="${item.itemName}"/>

        <td th:if="${not #lists.isEmpty(item.images)}">
            <a th:href="${item.images[0]?.url}">
                <img th:src="${item.images[0]?.url}" th:alt="${item.images[0]?.altText}"
                     style="width:200px;height:200px;border:0;">
            </a>
        </td>
        <td th:if="${#lists.isEmpty(item.images)}">(NO IMAGE)</td>

        <td th:text="${item.inventory}"/>

        <td th:text="'$' + ${item.cost}"/>

        <div id="add2Cart" th:if="${loggedIn}">
            <div id="inventory" th:if="${item.inventory != 0}">
                <input id="storeID" type="hidden" th:value="${shopID}" name="store"/>
                <td>
                    <button type="button" class="a2c" th:value="${item.id}">Add to Cart</button>
                </td>
            </div>
            <div id="noInventory" th:if="${item.inventory <= 0}">
                <td>
                    <button type="button" disabled>Add to Cart</button>
                </td>
            </div>
        </div>
    </tr>
</table>
<br>

<br><br><br>
<div id="tagSection" th:unless="${#lists.isEmpty(shop.tags)}">
    <h5>Tag(s)</h5>
    <div style="display:inline;" th:each="tag: ${shop.tags}"><h6 style="display:inline;"
                                                                 th:text="'&nbsp &nbsp &nbsp' + ${tag.tagName}"></h6>
    </div>
</div>
<br>
<form action="#" th:action="@{/}">
    <input type="submit" value="Go To Home Page"/>
</form>
<script type="text/javascript" src="/js/CloudServiceController.js"></script>
<script type="text/javascript" src="/js/SidebarController.js"></script>
<script type="text/javascript" th:src="@{/js/LoadingAnimationController.js}"></script>
<script type="text/javascript" src="/js/CustomerShopViewController.js"></script>

</body>

</html>