<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="pageTitle"></div>

<div id="noItems"></div>

<div id="itemSection"></div>
<br><br><br>
<div id="tagSection"></div>
<br>
<form action="#" th:action="@{/}">
    <input type="submit" value="Go To Home Page"/>
</form>

<script type="text/javascript" th:src="@{/js/CloudServiceController.js}"></script>
<script type="text/javascript" th:src="@{/js/CustomerShopViewController.js}"></script>

</body>
</html>