<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}">
    </script>

    <link rel="stylesheet" type="text/css" href="/css/Global.css">

    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <span hidden id="username" th:value="${username}"></span>
    <span hidden id="isCustomer" th:value="${isCustomer}"></span>

    <h1>Login</h1>
    <form action="#" th:action="@{/loginAsCustomer}">
        <input type="submit" value="Customer Login" />
    </form>

    <form action="#" th:action="@{/loginAsMerchant}">
        <input type="submit" value="Merchant Login" />
    </form>

    <script type="text/javascript" th:src="@{/js/SidebarController.js}"></script>
</body>

</html>