<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}">
    </script>

    <link rel="stylesheet" type="text/css" href="/css/Global.css">

    <title>Merchant Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <span hidden id="username" th:value="${username}"></span>
    <span hidden id="isCustomer" th:value="${isCustomer}"></span>

    <form action="#" th:action="@{/loginAsMerchant}" method="post" id="merchantLoginForm">
        <h1>Login As A Merchant</h1>
        <div th:if="${isLoginFailed}">
            Error: User Name/Password incorrect
        </div>

        <p>UserName: <input type="text" name="userName" /></p>
        <p>Password: <input type="password" name="password" /></p>

        <p><input type="submit" value="Login" /></p>

        <script type="text/javascript" th:src="@{/js/LoadingAnimationController.js}"></script>
        <script type="text/javascript" th:src="@{/js/SidebarController.js}"></script>
        <script type="text/javascript" th:src="@{/js/LoginController.js}"></script>
        <script type="text/javascript" th:src="@{/js/CloudServiceController.js}"></script>
    </form>
</body>

</html>