<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Your Shop Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Shop</h1>
    <p th:text="'Id: ' + ${shop.id}" />
    <p th:text="'Tags: ' + ${shop.tags}" />

    <p><strong>Items:</strong></p>

    <tr th:each="item: ${shop.items}">
        <form action="#" th:action="@{/removeItem}" th:object="${item}" method="post">
            <input type="hidden" th:value="${shop.id}" name="shopId" />
            <input type="hidden" th:value="${item.id}" name="itemId" />
            <table>
                <tr>
                    <th>Name</th>
                    <th th:if="${not #lists.isEmpty(item.images)}">Image</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                </tr>
                <tr>
                    <td style="text-align:center" th:text="${item.itemName}" />

                    <td style="text-align:center" th:if="${not #lists.isEmpty(item.images)}">
                        <a th:href="${item.images[0]?.url}">
                            <img th:src="${item.images[0]?.url}" th:alt="${item.images[0]?.altText}"
                                style="width:200px;height:200px;border:0;">
                        </a>
                    </td>

                    <td style="text-align:center" th:text="${item.inventory}" />

                    <td style="text-align:center" th:text="${item.cost}" />
                    <td style="text-align:center"><input type="submit" value="Remove Item" /></td>
                </tr>
            </table>
            <br />
        </form>
    </tr>


    <br />
    <br />
    <br />
    <br />
    <table>
        <tr>
            <th><strong>Add Item</strong></th>
        </tr>
        <form action="#" th:action="@{/addItem}" th:object="${item}" method="post">
            <input type="hidden" th:value="${shop.id}" name="shopId" />
            <table>
                <tr>
                    <td>Item Name: <input type="text" th:field="*{itemName}" /></td>
                </tr>

                <tr>
                    <td>Image URL: <input type="text" size="75" name="url" /></td>
                    <td>Alternative Text Description <input type="text" name="altText" /></td>
                </tr>

                <tr>
                    <td>Quantity: <input type="text" th:field="*{inventory}" /></td>
                </tr>

                <tr>
                    <td>Cost: <input type="text" th:field="*{cost}" /></td>
                </tr>

                <tr>
                    <td><input type="submit" value="Add Item" /></td>
                </tr>
            </table>
        </form>
    </table>
    <br />
    <br />
    <br />
    <br />

    <form action="#" th:action="@{/}">
        <input type="submit" value="Go To Home Page" />
    </form>

</body>

</html>