<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}">
    </script>

    <link rel="stylesheet" type="text/css" href="/css/Global.css">

    <meta charset="UTF-8">
    <title>Search for Shops</title>
</head>

<body>
    <span hidden id="username" th:value="${username}"></span>
    <span hidden id="isCustomer" th:value="${isCustomer}"></span>
    <h1>Search for Shops</h1>
    <form th:action="@{/search}" method="post" id="searchShopForm">
        <label for="searchField">Search</label><br>
        <input type="text" id="searchField" name="searchField"><br>
        <p><input type="submit" value="Search" /></p>
    </form>

    <h1>Search Results</h1>
    <div id="results">
    </div>

    <script type="text/javascript" th:src="@{/js/LoadingAnimationController.js}"></script>
    <script type="text/javascript" th:src="@{/js/ShopSearchController.js}"></script>
    <script type="text/javascript" th:src="@{/js/SidebarController.js}"></script>
</body>

</html>